.homeContainer{
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.createNote{
    /* background-color: green; */
    border: 1px solid black;
    border-radius: 10px;
    min-height: 80vh;
    width: 50%;
    margin-top: 10px;
}

.EditNote{
  width: 100%;
}

.noteTop{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.textArea {
    border: none;
    font-size: 16px;
    font-family:  "Roboto", sans-serif;; /* Change to desired font family */
  }

  .textArea:focus{
    outline: none;
  }